
table#top
  height: 1000px
  width: 100%

  #modes
    font-size: 20px

  td.stretch
    width: 50%

  tr td.autofit
    padding: 0px
    width: 1%
    min-width: 140px
    white-space: nowrap

  tr#media-select
    height: 100%
    vertical-align: top
    td.bordered
      border: 1px solid #000

    td#modes-container
      height: 100%
      overflow-y: auto
      overflow-x: none

    table.mp3-record
      width: 100%
      
      td
        max-width: 800px
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis

      td.mp3-title
        max-width: 800px
        width: 33%
      td.mp3-artist
        max-width: 800px
        width: 30%
      td.mp3-album
        max-width: 800px
        width: 30%
      td.mp3-year
        max-width: 50px
        width: 5%
      td.mp3-length_seconds
        max-width: 50px
        width: 5%

  tr#devices
    height: 100px
    vertical-align: top

  tr#play-bar
    height: 50px
    vertical-align: top

table#top.one-pane
  td#selector1
    width: 0px
  td#selector2
    width: 100%

