html, body, #view
  height: 100%

  .hand
    cursor: pointer
    cursor: hand

  .ellipsis
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis  

  .play-button
    //background-position: 40% center
    width: 16px
    height: 16px

  #top
    height: 100%
    width: 100%
    display: flex
    flex-direction: column

    #media-selector
      flex: 5 5 80%
      min-height: 40px

      display: flex
      flex-direction: row

      #mode-select
        width: 166px
        font-size: 20px
        padding-top: 4px
        padding-left: 8px

        margin-bottom: 1px
        border-right: 1px solid

      #selector1
        flex: 1 1 30%
        overflow-y: visible

        padding-left: 4px

        white-space: nowrap
        text-overflow: ellipsis
        overflow-x: hidden

        .folder-record
          padding: 2px 8px 2px 8px
          font-size: 14px

          display: flex
          flex-direction: row

          .folder-playing
            width: 20px
          .folder-name
            flex: 12 12

      #selector2
        flex: 3 1 70%
        overflow-y: visible

        padding-left: 4px

        white-space: nowrap
        text-overflow: ellipsis
        overflow-x: hidden

        .mp3-record
          padding: 2px 8px 2px 8px
          display: flex
          flex-direction: row
          .mp3-playing
            flex: 1 1
          .mp3-title
            flex: 12 12
          .mp3-artist
            flex: 8 8
          .mp3-album
            flex: 8 8
          .mp3-year
            flex: 2 2
          .mp3-length-seconds
            flex: 2 2
        .mp3-record.playing
          background-color: red


    #cast-select
      //flex: 1 1 20%
      background: #FFF
      //position: fixed
      //bottom: 50px
      //#overflow-y: auto
      td
        padding: 1px 2px 1px 2px

    #playbar
      height: 50px

@media screen and (max-width: 700px)
  .mp3-album
    display: none

@media screen and (max-width: 800px)
  .mp3-year
    display: none

@media screen and (max-width: 1000px)
  .mp3-length-seconds
    display: none
