html, body, #view
  height: 100%

  .hand
    cursor: pointer
    cursor: hand

  .ellipsis
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis  

  .play-button
    //background-position: 40% center
    width: 16px
    height: 16px

  #top
    height: 100%
    width: 100%
    display: flex
    flex-direction: column

    #media-selector
      flex: 5 5 80%
      min-height: 40px

      display: flex
      flex-direction: row

      #mode-select
        width: 166px
        font-size: 1.6em
        padding-top: 4px
        padding-left: 8px

        margin-bottom: 1px
        border-right: 1px solid


      #selector2
        flex: 3 1 70%
        overflow-y: visible

        padding-left: 4px

        white-space: nowrap
        text-overflow: ellipsis
        overflow-x: hidden
        font-size: 1.3em

        .folder-record
          padding: 2px 8px 2px 8px

          display: flex
          flex-direction: row

          .folder-playing
            width: 20px
          .folder-name
            flex: 12 12

        .mp3-record
          padding: 2px 8px 2px 8px
          display: flex
          flex-direction: row
          .mp3-playing
            flex: 1 1
          .mp3-title
            flex: 16 16
          .mp3-artist
            flex: 8 8
          .mp3-album
            flex: 8 8
          .mp3-year
            flex: 2 2
          .mp3-length-seconds
            flex: 2 2

        .preset-record
          padding: 2px 8px 2px 8px
          display: flex
          flex-direction: row

          .preset-title
            flex: 4 4
          .preset-schedule
            flex: 8 8
            .schedule_days
              width: 160px
          .preset-delete
            flex: 1 1


    #cast-select
      font-size: 1.2em
      //flex: 1 1 20%
      background: #FFF
      //position: fixed
      //bottom: 50px
      //#overflow-y: auto
      td
        padding: 1px 2px 1px 2px

    #playbar
      height: 50px
      display: flex
      flex-direction: row

      #cur-song
        width: 250px
        #song-name
          font-size: 1.1em
          font-weight: bold
        #current-cast-name
          font-size: 1em
          color: #f9bb00
      #play-controls
        width: 160px
        .play-control
          line-height: 46px

          border: 0
          position: relative
          float: left
          &.disabled 
            opacity: .3
            cursor: default
        .play-control-small
          padding: 0px 4px 0px 4px
        .play-control-large
          padding: 0px 8px 0px 8px

      #progress
        flex: 11 11

        #progress-wrapper 
          float: left
          line-height: 46px
          position: relative
          width: 100%
          padding: 10px 0
          margin: 13px 10px 0

        #progress-background 
          width: 100%
          height: 2px
          background-color: #ccc
          position: absolute

        #progress-bar 
          position: absolute
          width: 0px
          height: 2px
          background-color: #f9bb00

      #time-passed
        width: 60px
        height: 46px
        color: #f9bb00
        text-align: right
        float: left
        line-height: 46px

      #playback-duration 
        width: 60px
        height: 46px
        float: left
        line-height: 46px
        color: #333
        text-align: right
        padding-right: 8px

      #stop-all
        width: 50px


@media screen and (max-width: 410px)
  .mp3-artist
    display: none

@media screen and (max-width: 500px)
  .mp3-album
    display: none

@media screen and (max-width: 700px)
  .mp3-year
    display: none

@media screen and (max-width: 900px)
  .mp3-length-seconds
    display: none
